<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/dashboard/createbio">
        <label for="name">Name</label>
        <br>
        <input type="text" name="name"/>
        <br>
        <label for="address">Address</label>
        <br>
        <input type="text" name="tempat_lahir">
        <br>
        <label for="citizenship">Citizenship</label>
        <br>
        <input type="text" name="citizenship">
        <br>
        <label for="married">Married</label>
        <br>
        <input type="radio" name="married" value="yes">
        <label for="married">YES</label>
        <br>
        <input type="radio" name="married" value="no">
        <label for="married">NO</label>
        <br>
        <button type='Submit'>Submit</button>
    </form>    
</body>
</html>
